.flex-container {
	display: flex;
	height: 700px;
	align-items: baseline;
	background-color: dodgerblue;
	>div {
		align-items: flex-end;
		transition: 0.3s;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		width: 250px;
		height: 400px;
		margin: auto;
		text-align: center;
		font-family: arial;
		border-radius: 20px;
		outline: none;
		box-sizing: border-box;
		border: 2px solid grey;
		&:hover {
			-ms-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
	}
}
.card {
	button {
		font-size: 18px;
		text-decoration: none;
		border: blue 1px solid;
		padding: 10px 20px;
		border-radius: 10px;
		&:hover {
			background: dodgerblue;
			color: dodgerblue;
		}
	}
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: black;
}
li {
	float: right;
	color: black;
	a {
		display: inline-block;
		color: black;
		text-align: center;
		padding: 14px 18px;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		&:hover {
			color: red;
		}
	}
}
.er {
	float: left;
}
body {
	background-size: cover;
	background-image: url("2.jpg");
}
